<div class="page-header">
  <h3>Neighborhood #<%= @neighborhood.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @neighborhood.name %></dd>

      <dt>City</dt>
      <dd><%= @neighborhood.city %></dd>

      <dt>Venues</dt>
      <dd>
        <ul class="list-group">
          <%= Venue.where(:neighborhood_id => @neighborhood).each do |x|%>
          <li class="list-group-item">
            <%= x.name %>
          </li>
<% end %>
        </ul>
      </dd>
    </dl>
  </div>
</div>

<div class="btn-group btn-group-justified">
  <a href="/neighborhoods" class="btn btn-primary">
    Back
  </a>
  <a href="/neighborhoods/<%= @neighborhood.id %>/edit" class="btn btn-warning">
    Edit
  </a>
  <a href="/delete_neighborhood/<%= @neighborhood.id %>" class="btn btn-danger" rel="nofollow">
    Delete
  </a>
</div>
</div>

